/* Your styles should be mobile-first and responsive */

body {
  background-image: url("images/pilot-onigiri.jpg");
  background-position: left;   /*aligned left on mobile so drone always in view*/
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: black;
}

header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 40px;
  background-color: black;
  color: white;
}

header h1 {
  font-family: fantasy;
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding-top: 10px;
}

main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: 80%;
  height: 550px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 30px auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 7%;
}

main ul {
  padding-bottom: 10px;
  list-style: none;
  justify-content: space-around;
}

main p {
  font-weight: bold;
}

main h1, main h2 {
  padding-top: 0;
  margin-top: 0;
}

main ol {
  list-style: none;
  text-align: left;
}

main ul{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
}

img {
  margin-bottom: 10px;
  width: 90%;
  max-width: 400px;
}

.button {
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width:800px) {
  main {
    width: 740px;
  };
  main ul {
    margin-left: 30px;
    margin-right: 30px;
  }
  body {
    background-position: center;
    background-size: auto 100%;
    }
}

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/